* {
  color: white;
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: none;
}

.footer {
  background-color: black;
  color: white;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.footer__menu {
  display: flex;
  justify-content: space-around;
  padding-top: 5vh;
  padding-bottom: 2vh;
}
.footer__menu__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__nav {
  padding-top: 2vh;
  padding-bottom: 5vh;
  border-top: solid 1px grey;
  display: flex;
  justify-content: space-around;
}
.footer .desplegable {
  background-color: black;
  color: white;
}

header {
  width: 100vw;
  height: 75vh;
  background-image: url(../assets/ferrari-cars-hd-4k-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position-x: center;
  background-color: black;
}

.header {
  width: 80vw;
  height: 10vh;
  padding: 0 10vw;
  background: none;
}
.header__menu {
  display: flex;
  align-items: center;
  padding-top: 2vh;
}
.header__menu__right {
  width: 70vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.header__menu__left {
  width: 10vw;
  height: 100%;
  display: flex;
}
.header__menu__logoferrari {
  display: flex;
}
.header__menu__texto {
  padding-left: 40px;
}
.header__menu__texto__encabezado {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  opacity: 80%;
  padding-bottom: 10px;
}
.header__menu__button {
  width: 240px;
  height: 60px;
  background-color: maroon;
  border: none;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.divisorencabezado {
  border-top: 1px solid rgb(28, 28, 28);
  width: 100vw;
  height: 50vh;
}

.logobuscador {
  width: 20px;
  height: 20px;
  margin: 0 1vh;
}

.logoperfil {
  width: 20px;
  height: 20px;
  margin: 0 1vh;
}

.logocarrito {
  width: 20px;
  height: 20px;
  margin: 0 1vh;
}

.logoferrari {
  width: 60px;
  height: 80px;
  margin: 0 1vh;
}

.main {
  background-color: black;
  color: white;
  width: 100%;
  height: 80vh;
}
.main__menu {
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.main__menu__clases {
  display: flex;
}
.main__menu__clases__tipo {
  margin: 0vh 5vw;
}
.main__articulos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 5vh;
}
.main__articulos__coche {
  width: 300PX;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.main__articulos__coche__caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.main .titulonewsletter {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: la200pxrge;
  color: white;
  width: 100vw;
  height: 2vh;
  text-align: center;
  border-top: solid 1px grey;
  padding-top: 1.5vh;
}
.main__newsletter {
  border-bottom: solid 1px grey;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: space-around;
}
.main__newsletter__seccion {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0vh 5vw;
}
.main__newsletter__seccion__noticia {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  padding: 20px;
  border: solid 1px grey;
  border-radius: 5%;
}
.main__newsletter__seccion__noticia__piefoto {
  text-align: center;
}
.main__newsletter__seccion__noticia__piefoto__texto {
  font-size: small;
}
.main__newsletter__seccion__noticia__foto {
  padding-bottom: 2vh;
}
.main .titulocontent {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  color: white;
  width: 100vw;
  height: 2vh;
  text-align: center;
  border-top: solid 1px grey;
  padding-top: 1.5vh;
}
.main__content {
  width: 100vw;
  height: 40vh;
}
.main__content__seccion {
  background-color: black;
  border-bottom: solid 1px grey;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: space-around;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.main__content__seccion__cuadro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__content__seccion__cuadro__piefoto {
  text-align: center;
  padding-top: 2vh;
}
.main__content__seccion__cuadro__piefoto__texto {
  font-size: small;
}
.main__content__seccion__cuadro__foto {
  padding-bottom: 2vh;
}
.main .fotocontent {
  width: 30vw;
}/*# sourceMappingURL=styles.css.map */